[submodule "stdayyo | RPPmRAr8EeBBs7ZLYftw"]
	path = stdayyo | RPPmRAr8EeBBs7ZLYftw
	url = https://github.com/muhammed-mizaj/Notion-API-STH
[submodule "stdayyo | QCq6HHrbDIvsNBfFeVkt"]
	path = stdayyo | QCq6HHrbDIvsNBfFeVkt
	url = https://github.com/muhammed-mizaj/Notion-API-STH
[submodule "VibesOnly | rbGvviTQcWwRpEirjap7"]
	path = VibesOnly | rbGvviTQcWwRpEirjap7
	url = https://github.com/nasw1h/hacknight
[submodule "arrow | hyfIhGLGwU3FSzfbkjMX"]
	path = arrow | hyfIhGLGwU3FSzfbkjMX
	url = https://github.com/rinsacm/hacknight
[submodule "Tubelight | 4V4IUJaaTxW50HE0C4mj"]
	path = Tubelight | 4V4IUJaaTxW50HE0C4mj
	url = https://github.com/twilighty-abhi/Notioneering
[submodule "ICONIC | W9yrFcFtjxxiz3njfp4r"]
	path = ICONIC | W9yrFcFtjxxiz3njfp4r
	url = https://github.com/ICONIC-Saturday-HackNight/Notion-API
[submodule "Sparrow | k3FYrKGr4tD6Y1RED1Kh"]
	path = Sparrow | k3FYrKGr4tD6Y1RED1Kh
	url = https://github.com/Rithingithub/SparrowTeam
[submodule "Technomaniac | utjxcOYbBENInXqaVPt1"]
	path = Technomaniac | utjxcOYbBENInXqaVPt1
	url = https://github.com/Dhanush17raj/Notion_API.git
[submodule "Abc123 | WqC5vyuDt9iujsGmJ910"]
	path = Abc123 | WqC5vyuDt9iujsGmJ910
	url = https://github.com/AMEESHAARACKAL/NotionAPI
[submodule "BoredApe | zsk1kIibEtRTtd62JMic"]
	path = BoredApe | zsk1kIibEtRTtd62JMic
	url = https://github.com/AMEESHAARACKAL/BoredApe
[submodule "BoredApi | iRyPZZ8NFGQQJ01z7IpB"]
	path = BoredApi | iRyPZZ8NFGQQJ01z7IpB
	url = https://github.com/AMEESHAARACKAL/NotionAPI
[submodule "Fencers | pcaAPwv1vP2u9kQ8HZXu"]
	path = Fencers | pcaAPwv1vP2u9kQ8HZXu
	url = https://github.com/Ash-394/NotionAPI
[submodule "HACKSTREETBOYS919 | eNE3nBVp0iFuGQZNs18F"]
	path = HACKSTREETBOYS919 | eNE3nBVp0iFuGQZNs18F
	url = https://github.com/MVK2803/NotionAPI
[submodule "Enigma | 0ZCiuQZfEuvTVe5YIuxA"]
	path = Enigma | 0ZCiuQZfEuvTVe5YIuxA
	url = https://github.com/anandukch/notion-api
[submodule "Raven321 | uxvF0YYARm7N1Wtn6SjV"]
	path = Raven321 | uxvF0YYARm7N1Wtn6SjV
	url = https://github.com/jam-star/hacknight
[submodule "Miners | 9i66sHisq412mEH73jT4"]
	path = Miners | 9i66sHisq412mEH73jT4
	url = https://github.com/mzn38/Sat-Hacknight.git
[submodule "Trispeak | WpsJxMD7F3kZorXn7JMr"]
	path = Trispeak | WpsJxMD7F3kZorXn7JMr
	url = https://github.com/Chaitanya23nune/Chaitanya
[submodule "trojans | AHLuYmPcdEGSO8CPXgWD"]
	path = trojans | AHLuYmPcdEGSO8CPXgWD
	url = https://github.com/unniznd/notion-api.git
