[submodule "stdayyo | RPPmRAr8EeBBs7ZLYftw"]
	path = stdayyo | RPPmRAr8EeBBs7ZLYftw
	url = https://github.com/muhammed-mizaj/Notion-API-STH
[submodule "stdayyo | QCq6HHrbDIvsNBfFeVkt"]
	path = stdayyo | QCq6HHrbDIvsNBfFeVkt
	url = https://github.com/muhammed-mizaj/Notion-API-STH
[submodule "VibesOnly | rbGvviTQcWwRpEirjap7"]
	path = VibesOnly | rbGvviTQcWwRpEirjap7
	url = https://github.com/nasw1h/hacknight
[submodule "arrow | hyfIhGLGwU3FSzfbkjMX"]
	path = arrow | hyfIhGLGwU3FSzfbkjMX
	url = https://github.com/rinsacm/hacknight
[submodule "Tubelight | 4V4IUJaaTxW50HE0C4mj"]
	path = Tubelight | 4V4IUJaaTxW50HE0C4mj
	url = https://github.com/twilighty-abhi/Notioneering
[submodule "ICONIC | W9yrFcFtjxxiz3njfp4r"]
	path = ICONIC | W9yrFcFtjxxiz3njfp4r
	url = https://github.com/ICONIC-Saturday-HackNight/Notion-API
[submodule "Sparrow | k3FYrKGr4tD6Y1RED1Kh"]
	path = Sparrow | k3FYrKGr4tD6Y1RED1Kh
	url = https://github.com/Rithingithub/SparrowTeam
[submodule "Technomaniac | utjxcOYbBENInXqaVPt1"]
	path = Technomaniac | utjxcOYbBENInXqaVPt1
	url = https://github.com/Dhanush17raj/Notion_API.git
[submodule "Abc123 | WqC5vyuDt9iujsGmJ910"]
	path = Abc123 | WqC5vyuDt9iujsGmJ910
	url = https://github.com/AMEESHAARACKAL/NotionAPI
[submodule "BoredApe | zsk1kIibEtRTtd62JMic"]
	path = BoredApe | zsk1kIibEtRTtd62JMic
	url = https://github.com/AMEESHAARACKAL/BoredApe
