[submodule "stdayyo | RPPmRAr8EeBBs7ZLYftw"]
	path = stdayyo | RPPmRAr8EeBBs7ZLYftw
	url = https://github.com/muhammed-mizaj/Notion-API-STH
[submodule "stdayyo | QCq6HHrbDIvsNBfFeVkt"]
	path = stdayyo | QCq6HHrbDIvsNBfFeVkt
	url = https://github.com/muhammed-mizaj/Notion-API-STH
[submodule "VibesOnly | rbGvviTQcWwRpEirjap7"]
	path = VibesOnly | rbGvviTQcWwRpEirjap7
	url = https://github.com/nasw1h/hacknight
